.bar {
  fill: #bbb;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

/*
svg {
	border: 4px solid green;
}
*/

div.timedist, div.expgapdist {
  float: left;
	clear: right;
  margin: 5px;
	border: 1px solid lightgray;
}

div.dist-series {
	border: 1px solid gray;
	margin: 7px;
	padding: 7px;
}
.dist-series-title {
	font-size: 110%;
	font-weight: bold;
}
