.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.drugrollup {
  text-align: left;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

div.timedist, div.expgapdist {
  float: left;
  margin: 5px;
	border: 1px solid lightgray;
}
div.timelines {
  margin: 5px;
}
div.timeline {
	width: 100%;
	background-color: cornsilk;
	border: 1px solid gray;
	margin: 7px;
  border-radius: 2%/8%;
	padding: 4px;
}
.timeline svg {
}
rect.exposure {
	stroke: white;
}
rect.era {
	fill: lightgray;
}
.timedist rect {
  fill-opacity: 0;
  stroke-width: 1.5;
  stroke: black;
}
.timedist line.zero {
  stroke: red;
}
.expdist line.bar {
  stroke: skyblue;
  stroke-width: 1;
}
.gapdist line.bar {
  stroke: salmon;
  stroke-width: 1;
}
div.timeline .description span {
	background-color: antiquewhite;
	border-radius: 4px;
	padding: 1px;
	cursor: pointer;
}
.rollup-table {
  margin: 10px;
}
.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
